<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand me-auto" href="#">TravelWeb</a>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
         aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">TravelWeb</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link mx-lg-2 active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-lg-2" href="reserv-page">Vols</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-lg-2" href="hotel-page">Hôtel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-lg-2" href="reslist-page">Réservations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-lg-2" href="userSpace-page">Compte</a>
          </li>
        </ul>
      </div>
    </div>
    <a href="#" class="login-button">LogOut</a>

    <button class="navbar-toggler pe-0" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<!-- End Navbar -->
<!--Items section-->

<div class="card-container card-content smt">
  <a href="reslist-page" class="btn">Vols</a>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="reslist-page" class="btn">Hôtels</a>
</div>
<div class="card-container">
  <div class="card">
    <img src="../../assets/images/5.jpg" alt="#">
    <div class="card-content">
      <h3>card 1</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quam in rerum eum temporibus repellat
        sapiente omnis laudantium, quo cumque, voluptatem voluptatibus explicabo minima? Voluptate ex
        tempora dolore eaque doloribus?</p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="form2-page" class="btn">Modifier</a>&nbsp;&nbsp;
      <a href="reslist-page" class="btn">Annuler</a>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/images/4.jpg" alt="#">
    <div class="card-content">
      <h3>card 2</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quam in rerum eum temporibus repellat
        sapiente omnis laudantium, quo cumque, voluptatem voluptatibus explicabo minima? Voluptate ex
        tempora dolore eaque doloribus?</p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="form2-page" class="btn">Modifier</a>&nbsp;&nbsp;
      <a href="reslist-page" class="btn">Annuler</a>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/images/6.avif" alt="#">
    <div class="card-content">
      <h3>card 3</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quam in rerum eum temporibus repellat
        sapiente omnis laudantium, quo cumque, voluptatem voluptatibus explicabo minima? Voluptate ex
        tempora dolore eaque doloribus?</p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="form2-page" class="btn">Modifier</a>&nbsp;&nbsp;
      <a href="reslist-page" class="btn">Annuler</a>
    </div>
  </div>
</div>
<!--End Items section-->
<div class="card-container">
  <div class="card">
    <img src="../../assets/images/5.jpg" alt="#">
    <div class="card-content">
      <h3>card 1</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quam in rerum eum temporibus repellat
        sapiente omnis laudantium, quo cumque, voluptatem voluptatibus explicabo minima? Voluptate ex
        tempora dolore eaque doloribus?</p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="form2-page" class="btn">Modifier</a>&nbsp;&nbsp;
      <a href="reslist-page" class="btn">Annuler</a>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/images/4.jpg" alt="#">
    <div class="card-content">
      <h3>card 2</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quam in rerum eum temporibus repellat
        sapiente omnis laudantium, quo cumque, voluptatem voluptatibus explicabo minima? Voluptate ex
        tempora dolore eaque doloribus?</p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="form2-page" class="btn">Modifier</a>&nbsp;&nbsp;
      <a href="reslist-page" class="btn">Annuler</a>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/images/6.avif" alt="#">
    <div class="card-content">
      <h3>card 3</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quam in rerum eum temporibus repellat
        sapiente omnis laudantium, quo cumque, voluptatem voluptatibus explicabo minima? Voluptate ex
        tempora dolore eaque doloribus?</p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="form2-page" class="btn">Modifier</a>&nbsp;&nbsp;
      <a href="reslist-page" class="btn">Annuler</a>
    </div>
  </div>
</div>

<!-- Footer -->
<div class="footerContainer">
  <div class="socialIcons">
    <a href="#"><i class="fa-brands fa-facebook"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-google-plus"></i></a>
    <a href="#"><i class="fab fa-youtube"></i></a>
  </div>
  <div class="footerNav">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">News</a></li>
      <li><a href="about-page">About</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">Our Team</a></li>
    </ul>
  </div>
  <div class="footerBottom">
    <p>copyright &copy;2023</p>
  </div>
</div>
<!-- End Footer -->

</body>

</html>
